.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.borderUser{
  border: 1px solid black;
}

#surname, #surname, #mail, #nota, #matricula, #cumple{
  border-left: 1px solid black;
  
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}